* {
  box-sizing: border-box;
  font-family: poppins, serif;
  font-weight: 400;
}

h1 {
    font-family: poppins, serif;
    font-weight: 900;
}

h2 {
    font-family: poppins, serif;
    font-weight: 700;
}

span {
    font-weight: 600;
}