body {
    font-family: "Poppins", serif;
    font-weight: 400;
    margin: 0 auto;
    max-width: 800px;
    justify-content: center;
    align-items: center;
}

header {
    padding: 2rem;
    grid-column: 1 / 4;
}

h1 {
    font-size: 2rem;
}

h2 {
    text-align: center;
}

.dark-grey {
    padding: 1rem;
    grid-column: 1 / 4;
    background: #333333;
    color: white;
    text-align: center;
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.navigation a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* .active {
    background-color: #bbb;
    color: #333;
} */

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before {
	content: "📍";  /* just a wayfinding symbol for the user */
} 

.stuff {
	margin: .5rem;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
	
}

/* Images */

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    text-align: center;
    justify-items: center;
    margin: 0 auto;
    
}

.gallery img {
    border-radius: 8px;
    width: 300px;
    height: 210px;
    object-fit: cover;
    display: block;
    grid-column: span 3;
    border: 2px solid #333;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}


