* {
    max-width: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
}

main {
    background: #f4f4f4;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1rem;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}