@media (min-width: 1024px) {
    body {
        max-width: var(--max-width-body);
        margin: 0 auto;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }

    figure {
        grid-column: 1 / -1;
        position: relative;
    }

    .main > section {
        position: absolute;
        top: 50%;
        transform: translateY(-105%);
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 8px;
        padding: 20px;
        height: 500px;
    }

    .data {
        left: 5%;
        width: 35%;
    }

    .weather {
        right: 5%;
        width: 35%;
    }

    .weather-icon {
        width: var(--weather-icon-size);
        height: var(--weather-icon-size);
    }

    h2 {
        font-size: var(--font-size-h2);
    }

    p {
        font-size: var(--font-size-p);
        line-height: 0%;
    }
}