body {
    font-family: "Poppins", serif;
    font-weight: 400;
    margin: 0 auto;
    max-width: 800px;
    background-color: beige;
    border: 1px solid black;
}

header {
    padding: 2rem;
    grid-column: 1 / 4;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    padding: 10px 80px 5px 10px;
    background-color: purple;
    color: white;
}

p {
    font-size: 1.2rem;
    padding: 10px;
}

.yellow {
    padding: 1rem;
    grid-column: 1 / 4;
    background: yellow;
    color: black;
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.weather-icon {
    width: 100px;
    height: 100px;
}