body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
  max-width: 640px;
  margin: 1rem auto; /* Centers the element on the page */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Faint border */
  padding: 1rem; /* Appropriate padding */
  background-color: #e0f7fa; /* Blueish background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for depth */
  border-radius: 8px; /* Optional: rounded corners */
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 500px) {
    header {
        background-color: black;
        color: #fff;
    }
    main {
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (min-width: 800px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    
}
